$font-size-txts: 14px;
$font-size-txtm: 16px;
$font-size-btxtl: 18px;
$font-size-titles: 20px;
$font-size-titlem: 22px;
$font-size-titlel: 22px;


// body{
//     background-color: #f00;
// }

// *{
//     margin: 0;
//     padding: 0;
// }